
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html,body{
    background: linear-gradient(#0F53FF, #0755FE, #051836);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 100%;
}

.container{
    width: 90vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

 /* CABEÇALHO */

.header{
    background-color: #FFFFFF;
    display: flex;
    width: 59vw;
    height: 15vh;
    text-align: center;
    justify-content: center;
}

header{
    width: 1000px;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.botoes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    font-size: 2rem;
 
}


#logo-zoiao{
    width: 200px;
    height: 200px;

}

/* SOBRE A PÁGINA */

.text-sobre {
    padding-top: 30px;
    color: #FFFFFF;
    opacity: 1;
    position: relative;
    width: 30vw;
}
#titulo{
    width: 200px;
    font-size: 3rem;
    
}

#descricao{
    padding-left: 100px;
    width: 200px;
}

.sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 59vw;
    height: 70vh;
    background-image: url("../img/insta-design/b1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

/* INFORMAÇÕES */

.info {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    width: 59vw;
    height: 60vh
}


/* POSTAGENS SUA MUSICA E YOUTUBE */

.sm-yt {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    width: 59vw;
    height: 60vh
}


/* INSTAGRAM */

.posts-insta {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    width: 59vw;
    height: 60vh
}


/* RODAPÉ */

.footer {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    width: 59vw;
    height: 60vh
}